@import "../utilities/variables";
@import "../utilities/mixins";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px= 62.5 -> 1rem = 10px
}

body {
  font-family: $font-primary;
  color: $color-primary;
  font-weight: normal;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  @include lg {
    margin: 0 2rem;
  }
  @include xl {
    margin: 0 2rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
input {
  outline: none;
}
@font-face {
  font-family: "utm-caviar";
  src: url(../fonts/utm-caviar.ttf);
}
