include ../../base/_header-top-nav-var
include ../../mixins/_mixin
.header__top-nav.all-page
    .container
        .header__top-nav__wrapper
            .header__top-nav__menu
                i.fa.fa-bars
                ul
                    each item in headerTopNav
                        if item.name == 'Danh sách ưa thích'
                            li.header__top-nav__item.all-page
                                a(onclick="document.querySelector('.popup').style.display='block'")= item.name
                        else
                            li.header__top-nav__item.all-page
                                a(href= item.link)= item.name
                +popup
            .header__top-nav__search
                form
                    input(placeholder="Tìm kiếm ở đây ...")
                    button.header__top-nav__icon.all-page
                        i.fa.fa-search