*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Times New Roman", sans-serif;
  color: #818181;
  font-weight: normal; }

.container {
  max-width: 110rem;
  margin: 0 auto; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

@font-face {
  font-family: "utm-caviar";
  src: url(../fonts/utm-caviar.ttf); }

.header__top-nav__item > a:hover, .header__top-nav__icon:hover, .header__main-nav__item > a:hover:link,
.header__main-nav__item > a:hover:visited, .drop-down__menu__item > a:hover:link, .drop-down__menu__item > a:hover:visited, .blog-item__title > a:hover, .blog-item__read-more > a:hover:link,
.blog-item__read-more > a:hover:visited, .home-page__blog__right__comment a:hover {
  color: #dfa949; }

.btn:hover, .home-page__blog__right__dots > span:hover {
  background-color: #dfa949; }

.header__top-nav__item > a, .header__top-nav__icon, .header__slider__jump-links__item, .header__main-nav__item > a:link,
.header__main-nav__item > a:visited, .products__slide__list, .btn, .drop-down__menu__item > a:link, .drop-down__menu__item > a:visited, .product__favorite, .product__favorite > a, .blog-item__img__hover__bg, .blog-item__img__hover__icon i, .blog-item__title > a, .blog-item__read-more > a:link,
.blog-item__read-more > a:visited, .home-page__gallery__item__img, .home-page__blog__right__comment a, .home-page__blog__right__dots > span {
  transition: all 0.3s ease; }

.header__slider__img .slide, .header__slider__img .slide__img, .blog-item__img__hover__bg, .blog-item__img__hover a {
  width: 100%;
  height: 100%; }

.header__top-nav__wrapper, .header__main-nav__wrapper, .header__main-nav__menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.drop-down__wrapper {
  box-shadow: 0rem 1.1rem 5.5rem rgba(0, 0, 0, 0.07), 0rem 2.9rem 4.5rem rgba(0, 0, 0, 0.08), 0rem 1.3rem 1.8rem rgba(0, 0, 0, 0.15); }

.products__slide__arrow__left > label > i, .products__slide__arrow__right > label > i {
  color: #dfa949;
  font-size: 1.5rem;
  cursor: pointer; }

.header__top-nav__item > a:hover, .header__top-nav__icon:hover, .header__main-nav__item > a:hover:link,
.header__main-nav__item > a:hover:visited, .drop-down__menu__item > a:hover:link, .drop-down__menu__item > a:hover:visited, .blog-item__title > a:hover, .blog-item__read-more > a:hover:link,
.blog-item__read-more > a:hover:visited, .home-page__blog__right__comment a:hover {
  color: #dfa949; }

.btn:hover, .home-page__blog__right__dots > span:hover {
  background-color: #dfa949; }

.header__top-nav__item > a, .header__top-nav__icon, .header__slider__jump-links__item, .header__main-nav__item > a:link,
.header__main-nav__item > a:visited, .products__slide__list, .btn, .drop-down__menu__item > a:link, .drop-down__menu__item > a:visited, .product__favorite, .product__favorite > a, .blog-item__img__hover__bg, .blog-item__img__hover__icon i, .blog-item__title > a, .blog-item__read-more > a:link,
.blog-item__read-more > a:visited, .home-page__gallery__item__img, .home-page__blog__right__comment a, .home-page__blog__right__dots > span {
  transition: all 0.3s ease; }

.header__slider__img .slide, .header__slider__img .slide__img, .blog-item__img__hover__bg, .blog-item__img__hover a {
  width: 100%;
  height: 100%; }

.header__top-nav__wrapper, .header__main-nav__wrapper, .header__main-nav__menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.drop-down__wrapper {
  box-shadow: 0rem 1.1rem 5.5rem rgba(0, 0, 0, 0.07), 0rem 2.9rem 4.5rem rgba(0, 0, 0, 0.08), 0rem 1.3rem 1.8rem rgba(0, 0, 0, 0.15); }

.products__slide__arrow__left > label > i, .products__slide__arrow__right > label > i {
  color: #dfa949;
  font-size: 1.5rem;
  cursor: pointer; }

.header {
  position: relative; }
  .header__top-nav {
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.101961); }
    .header__top-nav__wrapper {
      height: 3.4rem; }
    .header__top-nav__menu > ul {
      display: flex;
      flex-direction: row; }
    .header__top-nav__item > a {
      font-size: 1.3rem;
      color: #fff; }
      .header__top-nav__item > a:hover {
        text-decoration: underline; }
    .header__top-nav__item:not(:last-child)::after {
      content: "-";
      margin: 0 1.2rem; }
    .header__top-nav__search {
      color: #818181;
      border-left: 1px solid #fff; }
      .header__top-nav__search input {
        border: none;
        outline: none;
        font-style: italic;
        font-family: inherit;
        width: 23rem;
        color: #818181;
        background-color: transparent;
        padding: 0 1rem; }
    .header__top-nav__icon {
      color: #fff;
      background: transparent;
      border: none;
      cursor: pointer; }
  .header__slider__img {
    width: 100%;
    height: 60rem;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory; }
    .header__slider__img .slide {
      flex-shrink: 0;
      scroll-snap-align: start;
      transition: transform 0.5s; }
  .header__slider__jump-links {
    position: absolute;
    top: 56rem;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.1rem; }
    .header__slider__jump-links__item {
      display: block;
      width: 3rem;
      height: 0.4rem;
      background-color: #fff; }
      .header__slider__jump-links__item:hover {
        background-color: #dfa949; }
  .header__slider__content-img {
    width: 55%;
    position: absolute;
    top: 26rem;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__main-nav {
    background-color: #000; }
    .header__main-nav__wrapper {
      padding: 1.2rem 0; }
    .header__main-nav__menu {
      width: 80%; }
      .header__main-nav__menu > ul {
        flex-wrap: wrap;
        justify-content: space-around; }
    .header__main-nav__item > a:link,
    .header__main-nav__item > a:visited {
      color: #fff;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 0.12rem; }

.header__top-nav__item > a:hover, .header__top-nav__icon:hover, .header__main-nav__item > a:hover:link,
.header__main-nav__item > a:hover:visited, .drop-down__menu__item > a:hover:link, .drop-down__menu__item > a:hover:visited, .blog-item__title > a:hover, .blog-item__read-more > a:hover:link,
.blog-item__read-more > a:hover:visited, .home-page__blog__right__comment a:hover {
  color: #dfa949; }

.btn:hover, .home-page__blog__right__dots > span:hover {
  background-color: #dfa949; }

.header__top-nav__item > a, .header__top-nav__icon, .header__slider__jump-links__item, .header__main-nav__item > a:link,
.header__main-nav__item > a:visited, .products__slide__list, .btn, .drop-down__menu__item > a:link, .drop-down__menu__item > a:visited, .product__favorite, .product__favorite > a, .blog-item__img__hover__bg, .blog-item__img__hover__icon i, .blog-item__title > a, .blog-item__read-more > a:link,
.blog-item__read-more > a:visited, .home-page__gallery__item__img, .home-page__blog__right__comment a, .home-page__blog__right__dots > span {
  transition: all 0.3s ease; }

.header__slider__img .slide, .header__slider__img .slide__img, .blog-item__img__hover__bg, .blog-item__img__hover a {
  width: 100%;
  height: 100%; }

.header__top-nav__wrapper, .header__main-nav__wrapper, .header__main-nav__menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.drop-down__wrapper {
  box-shadow: 0rem 1.1rem 5.5rem rgba(0, 0, 0, 0.07), 0rem 2.9rem 4.5rem rgba(0, 0, 0, 0.08), 0rem 1.3rem 1.8rem rgba(0, 0, 0, 0.15); }

.products__slide__arrow__left > label > i, .products__slide__arrow__right > label > i {
  color: #dfa949;
  font-size: 1.5rem;
  cursor: pointer; }

.products__slide {
  margin-top: 4.5rem;
  position: relative; }
  #new-products-list-1:checked ~ .products__slide__box .products__slide__list {
    transform: translateX(0%); }
  #new-products-list-2:checked ~ .products__slide__box .products__slide__list {
    transform: translateX(-50%); }
  #hot-products-list-1:checked ~ .products__slide__box .products__slide__list {
    transform: translateX(0%); }
  #hot-products-list-2:checked ~ .products__slide__box .products__slide__list {
    transform: translateX(-50%); }
  .products__slide__box {
    overflow: hidden; }
  .products__slide__list {
    display: flex;
    width: 200%;
    transform: translateX(0%); }
  .products__slide__arrow__left {
    position: absolute;
    top: 47%;
    left: -1.5rem; }
  .products__slide__arrow__right {
    position: absolute;
    top: 47%;
    right: -1.5rem; }
  .products__slide > input {
    visibility: hidden; }

.header__top-nav__item > a:hover, .header__top-nav__icon:hover, .header__main-nav__item > a:hover:link,
.header__main-nav__item > a:hover:visited, .drop-down__menu__item > a:hover:link, .drop-down__menu__item > a:hover:visited, .blog-item__title > a:hover, .blog-item__read-more > a:hover:link,
.blog-item__read-more > a:hover:visited, .home-page__blog__right__comment a:hover {
  color: #dfa949; }

.btn:hover, .home-page__blog__right__dots > span:hover {
  background-color: #dfa949; }

.header__top-nav__item > a, .header__top-nav__icon, .header__slider__jump-links__item, .header__main-nav__item > a:link,
.header__main-nav__item > a:visited, .products__slide__list, .btn, .drop-down__menu__item > a:link, .drop-down__menu__item > a:visited, .product__favorite, .product__favorite > a, .blog-item__img__hover__bg, .blog-item__img__hover__icon i, .blog-item__title > a, .blog-item__read-more > a:link,
.blog-item__read-more > a:visited, .home-page__gallery__item__img, .home-page__blog__right__comment a, .home-page__blog__right__dots > span {
  transition: all 0.3s ease; }

.header__slider__img .slide, .header__slider__img .slide__img, .blog-item__img__hover__bg, .blog-item__img__hover a {
  width: 100%;
  height: 100%; }

.header__top-nav__wrapper, .header__main-nav__wrapper, .header__main-nav__menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.drop-down__wrapper {
  box-shadow: 0rem 1.1rem 5.5rem rgba(0, 0, 0, 0.07), 0rem 2.9rem 4.5rem rgba(0, 0, 0, 0.08), 0rem 1.3rem 1.8rem rgba(0, 0, 0, 0.15); }

.products__slide__arrow__left > label > i, .products__slide__arrow__right > label > i {
  color: #dfa949;
  font-size: 1.5rem;
  cursor: pointer; }

.btn {
  color: #fff;
  text-transform: uppercase;
  padding: 0.8rem 1.8rem;
  background-color: #000;
  font-size: 1.3rem;
  cursor: pointer; }

.header__top-nav__item > a:hover, .header__top-nav__icon:hover, .header__main-nav__item > a:hover:link,
.header__main-nav__item > a:hover:visited, .drop-down__menu__item > a:hover:link, .drop-down__menu__item > a:hover:visited, .blog-item__title > a:hover, .blog-item__read-more > a:hover:link,
.blog-item__read-more > a:hover:visited, .home-page__blog__right__comment a:hover {
  color: #dfa949; }

.btn:hover, .home-page__blog__right__dots > span:hover {
  background-color: #dfa949; }

.header__top-nav__item > a, .header__top-nav__icon, .header__slider__jump-links__item, .header__main-nav__item > a:link,
.header__main-nav__item > a:visited, .products__slide__list, .btn, .drop-down__menu__item > a:link, .drop-down__menu__item > a:visited, .product__favorite, .product__favorite > a, .blog-item__img__hover__bg, .blog-item__img__hover__icon i, .blog-item__title > a, .blog-item__read-more > a:link,
.blog-item__read-more > a:visited, .home-page__gallery__item__img, .home-page__blog__right__comment a, .home-page__blog__right__dots > span {
  transition: all 0.3s ease; }

.header__slider__img .slide, .header__slider__img .slide__img, .blog-item__img__hover__bg, .blog-item__img__hover a {
  width: 100%;
  height: 100%; }

.header__top-nav__wrapper, .header__main-nav__wrapper, .header__main-nav__menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.drop-down__wrapper {
  box-shadow: 0rem 1.1rem 5.5rem rgba(0, 0, 0, 0.07), 0rem 2.9rem 4.5rem rgba(0, 0, 0, 0.08), 0rem 1.3rem 1.8rem rgba(0, 0, 0, 0.15); }

.products__slide__arrow__left > label > i, .products__slide__arrow__right > label > i {
  color: #dfa949;
  font-size: 1.5rem;
  cursor: pointer; }

.drop-down {
  position: relative; }
  .drop-down::after {
    position: absolute;
    content: "";
    width: 15rem;
    height: 10rem;
    background-color: transparent;
    left: -0.9rem;
    cursor: pointer; }
  .drop-down:hover .drop-down__wrapper {
    display: grid; }
  .drop-down__wrapper {
    position: absolute;
    top: 8.5rem;
    left: -20rem;
    background-color: #fff;
    border: 1px solid #dfa949;
    display: none;
    grid-template-columns: repeat(3, minmax(15rem, max-content)) 1fr;
    grid-gap: 4.6rem;
    padding: 3.8rem 3.1rem;
    padding-right: 1.1rem; }
    .drop-down__wrapper::after {
      content: "";
      border-left: 1.5rem solid transparent;
      border-right: 1.5rem solid transparent;
      border-bottom: 1rem solid #dfa949;
      position: absolute;
      top: -1rem;
      right: 68rem; }
  .drop-down__menu {
    margin-top: 1.3rem; }
    .drop-down__menu__item {
      font-size: 1.4rem;
      margin-bottom: 1.3rem; }
      .drop-down__menu__item > a:link, .drop-down__menu__item > a:visited {
        color: inherit; }
  .drop-down__title {
    text-transform: uppercase;
    color: #000;
    font-size: 1.4rem;
    font-weight: normal; }
  .drop-down__img {
    transform: translateX(-2rem); }

.main-title__text {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 2.1rem;
  letter-spacing: 0.4rem;
  color: #000;
  font-weight: normal; }

.product-title__text {
  font-size: 2.48rem;
  font-weight: normal;
  color: #000; }

.product-title__icon {
  margin-top: 0.5rem; }

.lg-label__text {
  width: 17.2rem;
  height: 17.2rem;
  background-color: #dfa949;
  transform: rotate(-45deg);
  position: absolute;
  top: -8.6rem;
  left: -8.6rem; }
  .lg-label__text > h5 {
    padding-top: 12.5rem;
    color: #fff;
    font-size: 3.2rem;
    font-weight: normal; }
  .lg-label__text::after {
    position: absolute;
    top: 17.8rem;
    left: -2rem;
    content: "";
    width: 25rem;
    height: 1px;
    background-color: #dfa949; }

.sm-label__text {
  width: 8.2rem;
  height: 8.2rem;
  background-color: inherit;
  transform: rotate(-45deg);
  position: absolute;
  top: -4.1rem;
  left: -4.1rem; }
  .sm-label__text > h5 {
    padding-top: 6rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: normal;
    display: block; }
  .sm-label__text::after {
    content: "";
    position: absolute;
    top: 8.47rem;
    left: -4.4rem;
    width: 14rem;
    height: 1px;
    background-color: inherit; }

.product-price > p {
  font-family: "utm-caviar";
  font-size: 3.4rem;
  color: #dfa949; }

.header__top-nav__item > a:hover, .header__top-nav__icon:hover, .header__main-nav__item > a:hover:link,
.header__main-nav__item > a:hover:visited, .drop-down__menu__item > a:hover:link, .drop-down__menu__item > a:hover:visited, .blog-item__title > a:hover, .blog-item__read-more > a:hover:link,
.blog-item__read-more > a:hover:visited, .home-page__blog__right__comment a:hover {
  color: #dfa949; }

.btn:hover, .home-page__blog__right__dots > span:hover {
  background-color: #dfa949; }

.header__top-nav__item > a, .header__top-nav__icon, .header__slider__jump-links__item, .header__main-nav__item > a:link,
.header__main-nav__item > a:visited, .products__slide__list, .btn, .drop-down__menu__item > a:link, .drop-down__menu__item > a:visited, .product__favorite, .product__favorite > a, .blog-item__img__hover__bg, .blog-item__img__hover__icon i, .blog-item__title > a, .blog-item__read-more > a:link,
.blog-item__read-more > a:visited, .home-page__gallery__item__img, .home-page__blog__right__comment a, .home-page__blog__right__dots > span {
  transition: all 0.3s ease; }

.header__slider__img .slide, .header__slider__img .slide__img, .blog-item__img__hover__bg, .blog-item__img__hover a {
  width: 100%;
  height: 100%; }

.header__top-nav__wrapper, .header__main-nav__wrapper, .header__main-nav__menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.drop-down__wrapper {
  box-shadow: 0rem 1.1rem 5.5rem rgba(0, 0, 0, 0.07), 0rem 2.9rem 4.5rem rgba(0, 0, 0, 0.08), 0rem 1.3rem 1.8rem rgba(0, 0, 0, 0.15); }

.products__slide__arrow__left > label > i, .products__slide__arrow__right > label > i {
  color: #dfa949;
  font-size: 1.5rem;
  cursor: pointer; }

.product {
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
  overflow: hidden;
  justify-content: flex-end;
  position: relative; }
  .product__img > img {
    width: 100%;
    height: auto; }
  .product__title {
    margin-top: 2rem; }
    .product__title > p {
      color: #000;
      font-size: 1.4rem; }
  .product__price {
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .product__price > p {
      font-family: utm-caviar;
      font-size: 1.4rem; }
      .product__price > p:last-child {
        text-decoration: line-through; }
      .product__price > p:first-child {
        color: #dfa949;
        font-size: 2.1rem; }
  .product__btn {
    margin: 2.8rem; }
  .product__favorite {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #000;
    position: absolute;
    top: 65%;
    visibility: hidden;
    opacity: 0; }
    .product__favorite > a {
      display: flex;
      padding-top: 8px;
      padding-bottom: 8px;
      color: #818181;
      font-size: 1.4rem; }
      .product__favorite > a:first-child {
        padding-left: 1.9rem;
        padding-right: 1.5rem;
        border-right: 0.1rem solid; }
      .product__favorite > a:nth-child(2) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border-right: 0.1rem solid; }
      .product__favorite > a:last-child {
        padding-left: 2rem;
        padding-right: 0.9rem; }
      .product__favorite > a > i {
        padding-right: 6px; }
      .product__favorite > a:hover {
        color: #dfa949; }
  .product:hover > .product__favorite {
    visibility: visible;
    opacity: 1; }
  .product:first-child, .product:nth-child(5) {
    margin-left: 0; }
  .product:last-child, .product:nth-child(4) {
    margin-right: 0; }

.blog-item__img {
  position: relative; }
  .blog-item__img > img {
    width: 100%; }
  .blog-item__img__hover__bg {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, transparent 50%, rgba(255, 255, 255, 0.2) 50%); }
  .blog-item__img__hover__icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-size: 1.6rem; }
  .blog-item__img__hover a {
    position: absolute;
    top: 0;
    left: 0; }

.blog-item__title {
  margin-top: 2rem; }
  .blog-item__title > a {
    text-transform: uppercase;
    color: #000;
    font-size: 1.8rem; }

.blog-item__author {
  margin-top: 1rem; }
  .blog-item__author > p {
    opacity: 0.5;
    font-size: 1.2rem; }

.blog-item__desc {
  margin-top: 1rem;
  font-size: 1.4rem; }

.blog-item__read-more {
  margin-top: 0.5rem; }
  .blog-item__read-more > a:link,
  .blog-item__read-more > a:visited {
    opacity: 0.5;
    font-size: 1.4rem;
    color: inherit; }

.header__top-nav__item > a:hover, .header__top-nav__icon:hover, .header__main-nav__item > a:hover:link,
.header__main-nav__item > a:hover:visited, .drop-down__menu__item > a:hover:link, .drop-down__menu__item > a:hover:visited, .blog-item__title > a:hover, .blog-item__read-more > a:hover:link,
.blog-item__read-more > a:hover:visited, .home-page__blog__right__comment a:hover {
  color: #dfa949; }

.btn:hover, .home-page__blog__right__dots > span:hover {
  background-color: #dfa949; }

.header__top-nav__item > a, .header__top-nav__icon, .header__slider__jump-links__item, .header__main-nav__item > a:link,
.header__main-nav__item > a:visited, .products__slide__list, .btn, .drop-down__menu__item > a:link, .drop-down__menu__item > a:visited, .product__favorite, .product__favorite > a, .blog-item__img__hover__bg, .blog-item__img__hover__icon i, .blog-item__title > a, .blog-item__read-more > a:link,
.blog-item__read-more > a:visited, .home-page__gallery__item__img, .home-page__blog__right__comment a, .home-page__blog__right__dots > span {
  transition: all 0.3s ease; }

.header__slider__img .slide, .header__slider__img .slide__img, .blog-item__img__hover__bg, .blog-item__img__hover a {
  width: 100%;
  height: 100%; }

.header__top-nav__wrapper, .header__main-nav__wrapper, .header__main-nav__menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.drop-down__wrapper {
  box-shadow: 0rem 1.1rem 5.5rem rgba(0, 0, 0, 0.07), 0rem 2.9rem 4.5rem rgba(0, 0, 0, 0.08), 0rem 1.3rem 1.8rem rgba(0, 0, 0, 0.15); }

.products__slide__arrow__left > label > i, .products__slide__arrow__right > label > i {
  color: #dfa949;
  font-size: 1.5rem;
  cursor: pointer; }

.home-page {
  background: url("../img/home-page-bg-1.png") left top no-repeat, url("../img/home-page-bg-2.png") right top no-repeat;
  background-size: 25%, 10%;
  height: 500rem; }
  .home-page__intro {
    padding-top: 10rem; }
    .home-page__intro__box {
      text-align: center; }
    .home-page__intro__content {
      max-width: 71%;
      margin: 2.5rem auto 3.8rem; }
      .home-page__intro__content > p {
        font-size: 1.6rem;
        text-align: center;
        line-height: 2rem; }
  .home-page__sale__box {
    position: relative;
    padding-top: 10.4rem; }
  .home-page__sale__img {
    width: 100%;
    height: auto; }
  .home-page__sale__product {
    position: absolute;
    top: 41.5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3rem; }
  .home-page__sale__contains {
    padding-top: 9.5rem;
    grid-column: 2/12;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 3rem;
    background-color: #fff; }
  .home-page__sale__item {
    grid-column: 2/7;
    text-align: center;
    position: relative;
    overflow: hidden; }
  .home-page__sale__detail {
    grid-column: 7/10; }
    .home-page__sale__detail__price {
      margin-top: 1.5rem; }
    .home-page__sale__detail__btn {
      margin-top: 3.8rem; }
    .home-page__sale__detail__content {
      margin-top: 3.2rem; }
      .home-page__sale__detail__content > p {
        font-size: 1.3rem; }
    .home-page__sale__detail__time {
      margin-top: 5.5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0; }
      .home-page__sale__detail__time .time-in-box {
        border: 0.05rem solid #dfa949;
        text-align: center; }
        .home-page__sale__detail__time .time-in-box > p {
          padding-top: 1rem;
          font-family: utm-caviar;
          font-size: 3.4rem;
          color: #dfa949; }
          .home-page__sale__detail__time .time-in-box > p:last-child {
            font-size: 1.4rem;
            padding: 0.5rem 0 1.5rem;
            font-family: inherit; }
  .home-page__new-products {
    margin-top: 39.5rem; }
    .home-page__new-products__box {
      text-align: center; }
  .home-page__gallery {
    display: grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
    margin-top: 10rem; }
    .home-page__gallery__item {
      overflow: hidden;
      position: relative; }
      .home-page__gallery__item__img {
        width: 100%;
        transform: scale(1); }
      .home-page__gallery__item__hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        cursor: pointer; }
        .home-page__gallery__item__hover__year {
          color: #fff;
          letter-spacing: 0.7rem;
          text-transform: uppercase;
          margin-top: 6rem;
          font-size: 1.2rem; }
        .home-page__gallery__item__hover__text {
          margin-top: 2rem;
          font-size: 7.2rem;
          text-transform: uppercase;
          letter-spacing: 0.7rem;
          color: #fff;
          display: block; }
          .home-page__gallery__item__hover__text::after {
            width: 1000px;
            height: 20px;
            border-top: 2px solid red;
            border-bottom: 2px solid red; }
  .home-page__hot-products {
    margin-top: 10rem; }
    .home-page__hot-products__box {
      text-align: center; }
  .home-page__blog {
    margin: 10rem 0; }
    .home-page__blog__box {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 3rem; }
    .home-page__blog__left {
      grid-column: 1/9; }
      .home-page__blog__left__title {
        text-align: center; }
      .home-page__blog__left__item {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 3rem;
        margin-top: 4.5rem; }
        .home-page__blog__left__item .blog-item:first-child {
          grid-column: 1/7; }
        .home-page__blog__left__item .blog-item:last-child {
          grid-column: 7/13; }
    .home-page__blog__right {
      grid-column: 9/13;
      text-align: center; }
      .home-page__blog__right__content > img {
        margin-top: 4.5rem; }
      .home-page__blog__right__comment {
        margin-top: 3rem; }
        .home-page__blog__right__comment p,
        .home-page__blog__right__comment a {
          color: #818181;
          font-size: 1.4rem; }
        .home-page__blog__right__comment a {
          opacity: 0.5; }
      .home-page__blog__right__profile {
        margin-top: 3rem;
        color: #818181; }
        .home-page__blog__right__profile > h5 {
          margin-top: 2.2rem;
          font-size: 1.4rem;
          font-weight: normal; }
        .home-page__blog__right__profile > p {
          opacity: 0.5;
          font-size: 1.2rem; }
      .home-page__blog__right__dots {
        display: flex;
        justify-content: center;
        margin-top: 4rem; }
        .home-page__blog__right__dots > span {
          width: 0.6rem;
          height: 0.6rem;
          border-radius: 50%;
          cursor: pointer;
          background-color: #818181;
          margin-right: 0.7rem; }
