-
  let headerTopNav = [
    {name: 'Tài khoản của tôi', link: './address.html'}, 
    {name: 'Trạng thái đơn hàng', link: './order.html'}, 
    {name: 'Danh sách ưa thích', link: ''}, 
    {name: 'Giỏ hàng', link: './cart.html'}, 
    {name: 'Đặng nhập', link: './sign-in.html'}, 
    {name: 'Đăng ký', link: './sign-up.html'}, 
  ];