-
  let headerMainNav = [
    {name: 'Trang chủ', link: ''}, 
    {name: 'Rượu vang đỏ', link: ''}, 
    {name: 'Rượu vang trắng', link: ''}, 
    {name: 'Champagne', link: ''}, 
    {name: 'Thông tin', link: ''}, 
    {name: 'Blog', link: ''}, 
    {name: 'Liên hệ', link: ''}, 
  ];

-
  const headerSubNav = [
    'Rượu ngoại', 
    'Rượu vang', 
    'Rượu ngoại', 
  ]

-
  const headerSubNavItems = [
    'Rượu Chivas', 
    'Hàng độc - Rượu độc đáo', 
    'Johnnie Walker', 
    'Rượu Whisky',
    'Rượu Remy Martin', 
    'Rượu Glenmorangie',
  ]