-
  let headerMainNav = [
    {name: 'Trang chủ', link: ''}, 
    {name: 'Rượu vang đỏ', link: ''}, 
    {name: 'Rượu vang trắng', link: ''}, 
    {name: 'Champagne', link: ''}, 
    {name: 'Thông tin', link: ''}, 
    {name: 'Blog', link: ''}, 
    {name: 'Liên hệ', link: ''}, 
  ];