-
  let headerTopNav = [
    {name: 'Tài khoản của tôi', link: ''}, 
    {name: 'Trạng thái đơn hàng', link: ''}, 
    {name: 'Danh sách ưa thích', link: ''}, 
    {name: 'Giỏ hàng', link: ''}, 
    {name: 'Đặng nhập', link: ''}, 
    {name: 'Đăng ký', link: ''}, 
  ];