- let homePageTitle = "wine house | since 1980, a moments of true enjoy";
- let homePageIntroText = "Mriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faciteorum claritatem. Investigtiones demonstraverunt lectores legere me lius quod ii legunt saepius.Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putam";
- let homePageSaleText = "Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.";
-
  let timeInBox = [
    {number: '334', text: 'NGÀY'}, 
    {number: '26', text: 'GIỜ'}, 
    {number: '60', text: 'PHÚT'}, 
    {number: '15', text: 'GIÂY'}, 
  ]
-
  let listProducts = [
    {link:'./img/product-1.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: 'Sale', color: '#dfa949'}, 
    {link:'./img/product-2.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: 'Mới', color: 'green'}, 
    {link:'./img/product-3.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: 'Hot', color: 'red'}, 
    {link:'./img/product-4.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: '', color: ''}, 
    {link:'./img/product-5.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: 'Sale', color: 'red'}, 
    {link:'./img/product-6.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: '', color: ''}, 
    {link:'./img/product-7.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: 'Hot', color: 'green'}, 
    {link:'./img/product-8.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: 'Mới', color: '#dfa949'}, 
  ]

-
  let galleryImg = [
    './img/gallery-img-1.png', 
    './img/gallery-img-2.png', 
    './img/gallery-img-3.png', 
    './img/gallery-img-4.png', 
    './img/gallery-img-5.png', 
    './img/gallery-img-6.png', 
    './img/gallery-img-7.png', 
    './img/gallery-img-8.png'
  ]

-
  let blogContent = [
    {link:'./img/blog-1.png', title:'Vang Thăng Long Classic', author:'Đăng bởi Giangle | 30/06/2015 | 60 bình luận', desc:'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...'}, 
    {link:'./img/blog-2.png', title:'Vang Thăng Long Classic', author:'Đăng bởi Giangle | 30/06/2015 | 60 bình luận', desc:'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...'}  
  ]