- let homePageTitle = "Wine house | since 1980, a moments of true enjoy";
- let productDetailTitle = "Vang đỏ | since 1980, a moments of true enjoy";
- let productsTitle = "Products | since 1980, a moments of true enjoy";
- let blogTitle = "Blog | since 1980, a moments of true enjoy";
- let introTitle = "Introduction | since 1980, a moments of true enjoy";
- let contactTitle = "Contact | since 1980, a moments of true enjoy";
- let homePageIntroText = "Mriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faciteorum claritatem. Investigtiones demonstraverunt lectores legere me lius quod ii legunt saepius.Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putam";
- let homePageSaleText = "Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.";
- let detailContent1 = "Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.";
- let detailContent2 = "Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này.";
-
  let timeInBox = [
    {number: '334', text: 'NGÀY'}, 
    {number: '26', text: 'GIỜ'}, 
    {number: '60', text: 'PHÚT'}, 
    {number: '15', text: 'GIÂY'}, 
  ]
-
  let listProducts = [
    {link:'../img/product-1.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: 'Sale', color: '#dfa949'}, 
    {link:'../img/product-2.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: 'Mới', color: 'green'}, 
    {link:'../img/product-3.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: 'Hot', color: 'red'}, 
    {link:'../img/product-4.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: '', color: ''}, 
    {link:'../img/product-5.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: 'Sale', color: 'red'}, 
    {link:'../img/product-6.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: '', color: ''}, 
    {link:'../img/product-7.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: 'Hot', color: 'green'}, 
    {link:'../img/product-8.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: 'Mới', color: '#dfa949'}, 
  ]

-
  let galleryImg = [
    '../img/gallery-img-1.png', 
    '../img/gallery-img-2.png', 
    '../img/gallery-img-3.png', 
    '../img/gallery-img-4.png', 
    '../img/gallery-img-5.png', 
    '../img/gallery-img-6.png', 
    '../img/gallery-img-7.png', 
    '../img/gallery-img-8.png'
  ]
-
  let detailTitles = [
    'Đặt điểm nổi bật', 
    'Thông tin sản phẩm', 
    'Đánh giá'
  ]

-
  let blogContent = [
    {link:'../img/blog-1.png', title:'Vang Thăng Long Classic', author:'Đăng bởi Giangle | 30/06/2015 | 60 bình luận', desc:'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...'}, 
    {link:'../img/blog-2.png', title:'Vang Thăng Long Classic', author:'Đăng bởi Giangle | 30/06/2015 | 60 bình luận', desc:'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...'}  
  ]

-
  let detailDirections = [
    {name: 'Trang chủ', link: './index.html'}, 
    {name: 'Sản phẩm', link: '#'}, 
    {name: 'Rượu vang đỏ', link: '#'}, 
  ]
-
  let productsDirections = [
    {name: 'Trang chủ', link: './index.html'}, 
    {name: 'Sản phẩm', link: './products.html'}, 
    {name: 'Rượu vang đỏ', link: '#'}, 
  ]
-
  let blogDirections = [
    {name: 'Trang chủ', link: './index.html'}, 
    {name: 'Blog', link: './blog.html'},  
  ]
-
  let contactDirections = [
    {name: 'Trang chủ', link: './index.html'}, 
    {name: 'Liên hệ', link: './contact.html'},  
  ]

-
  let productDetailImgs = [
    '../img/product-detail-img-2.jpg', 
    '../img/product-detail-img-1.jpg', 
    '../img/product-detail-img-3.jpg', 
    '../img/product-detail-img-1.jpg', 
    '../img/product-detail-img-1.jpg', 
    '../img/product-detail-img-2.jpg', 
    '../img/product-detail-img-1.jpg', 
    '../img/product-detail-img-2.jpg', 
    '../img/product-detail-img-3.jpg', 
    '../img/product-detail-img-1.jpg', 
  ]
-
  let productDetailReview = [
    'fa fa-star', 
    'fa fa-star', 
    'fa fa-star', 
    'fa fa-star-half-o', 
    'fa fa-star-o'
  ]
-
  let productDetailColor = [
    '#e6ae48', 
    '#030102', 
    '#9c0001', 
  ]
-
  let productDetailSize = [
    'Loại lớn', 
    'Loại vừa', 
    'Loại nhỏ',
  ]
-
  let productDetailFavorite = [
    {class: 'fa fa-heart', text: 'Yêu thích'},
    {class: 'fa fa-signal', text: 'So sánh'},
    {class: 'fa fa-envelope', text: 'Email'}, 
  ]

-
  let productsCategory = [
    'RƯỢU NGOẠI', 
    'Rượu Chivas (26)', 
    'Hàng độc - Rượu độc đáo (36)', 
    'Johnnie Walker (46)', 
    'Rượu Whisky (24)', 
    'Rượu Remy Martin (16)', 
    'Rượu Glenmorangie  (11)', 
    "Rượu Ballantine's (7)", 
    'Rượu Cognac (40)', 
    'Rượu Vodka (93)', 
    'Rượu Macallan (19)', 
    'Rượu Brandy (62)', 
    'Rượu Hennessy (20)', 
    'RượuGin - Tequila - Liqueur - Rượu mùi (36)', 
    'Rượu Champagne (12)', 
    'Rượu Single malt Scotch whisky (47)', 
    'Rượu Spirits (4)', 
    'RƯỢU VANG', 
    'Rượu Vang Pháp (44)', 
    'Rượu Vang Úc (34)', 
    'Rượu Vang Mỹ (16)', 
    'Rượu Vang ChiLe (48)', 
    'Rượu Vang Philip (1)', 
    'Rượu Vang Nam Phi (20)', 
    'Rượu Vang Ý (2)'
  ]
-
  let productsTag = [
    'Đồng hồ', 
    'Túi', 
    'Phụ Kiện', 
    'Giày', 
    'Sandal', 
    'Áo sơ mi', 
    'Nước hoa', 
    'Trẻ em', 
    'Thời trang nữ'
  ]
-
  let productsGrid = [
    {link:'../img/product-1.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: '', color: ''}, 
    {link:'../img/product-2.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: '', color: ''}, 
    {link:'../img/product-3.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: '', color: ''}, 
    {link:'../img/product-4.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: '', color: ''}, 
    {link:'../img/product-5.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: '', color: ''}, 
    {link:'../img/product-6.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: '', color: ''}, 
    {link:'../img/product-7.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: '', color: ''}, 
    {link:'../img/product-8.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: '', color: ''}, 
    {link:'../img/product-1.jpg', title: 'RƯỢU VANG ĐÀ LẠT', price1: '350.000', price2: '450.000', label: '', color: ''}, 
  ]

-
  let productsList = [
    {link:'../img/products-list-1.png', title: 'RƯỢU NHO NĂM 1987', price: '330.000', content: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.'}, 
    {link:'../img/products-list-2.png', title: 'RƯỢU NHO NĂM 1987', price: '330.000', content: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.'}, 
    {link:'../img/products-list-1.png', title: 'RƯỢU NHO NĂM 1987', price: '330.000', content: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.'}, 
    {link:'../img/products-list-2.png', title: 'RƯỢU NHO NĂM 1987', price: '330.000', content: 'Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.'}
  ]
-
  let blogList = [
    {link:'../img/blog-1.png', title:'Vang Thăng Long Classic', author:'Đăng bởi Giangle | 30/06/2015 | 60 bình luận', desc:'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...'}, 
    {link:'../img/blog-2.png', title:'Vang Thăng Long Classic', author:'Đăng bởi Giangle | 30/06/2015 | 60 bình luận', desc:'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...'},
    {link:'../img/blog-1.png', title:'Vang Thăng Long Classic', author:'Đăng bởi Giangle | 30/06/2015 | 60 bình luận', desc:'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...'}, 
    {link:'../img/blog-1.png', title:'Vang Thăng Long Classic', author:'Đăng bởi Giangle | 30/06/2015 | 60 bình luận', desc:'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...'}, 
    {link:'../img/blog-2.png', title:'Vang Thăng Long Classic', author:'Đăng bởi Giangle | 30/06/2015 | 60 bình luận', desc:'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...'},
    {link:'../img/blog-1.png', title:'Vang Thăng Long Classic', author:'Đăng bởi Giangle | 30/06/2015 | 60 bình luận', desc:'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...'}, 
    {link:'../img/blog-1.png', title:'Vang Thăng Long Classic', author:'Đăng bởi Giangle | 30/06/2015 | 60 bình luận', desc:'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...'}, 
    {link:'../img/blog-2.png', title:'Vang Thăng Long Classic', author:'Đăng bởi Giangle | 30/06/2015 | 60 bình luận', desc:'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...'},
    {link:'../img/blog-1.png', title:'Vang Thăng Long Classic', author:'Đăng bởi Giangle | 30/06/2015 | 60 bình luận', desc:'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...'}, 
  
  ]

- introText = "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...";

-
  let contactAddress = [
    {icon: 'fa fa-map-marker', content: 'Tầng 4, Tòa nhà Hà Nội Group 442 Đội Cấn, P. Cống Vị, Q. Ba Đình, Hà Nội'},
    {icon: 'fa fa-phone', content: '(04) 6674 2332'},
    {icon: 'fa fa-envelope', content: 'support@milano.com'}
  ]
-
  let contactSocial = [
    'fa fa-facebook',
    'fa fa-google-plus',
    'fa fa-twitter',
    'fa fa-youtube-play',
    'fa fa-pinterest',
  ]
