@import "../utilities/mixins";
@import "../utilities/variables";
@import "../base/typography";
.home-page {
  background: url("../img/home-page-bg-1.png") left top no-repeat,
    url("../img/home-page-bg-2.png") right top no-repeat;
  background-size: 25%, 10%;
  height: 300rem;
  &__intro {
    padding-top: 10rem;
    &__box {
      text-align: center;
    }
    &__content {
      max-width: 71%;
      margin: 2.5rem auto 3.8rem;
      & > p {
        font-size: 1.6rem;
        text-align: center;
        line-height: 2rem;
      }
    }
  }

  &__sale {
    &__box {
      position: relative;
      padding-top: 10.4rem;
    }

    &__img {
      width: 100%;
      height: auto;
    }

    &__product {
      position: absolute;
      top: 41.5rem;
      @include grid(12, 3rem);
    }
    &__contains {
      padding-top: 9.5rem;
      grid-column: 2/12;
      @include grid(10, 3rem);
      background-color: $color-white;
    }
    &__item {
      grid-column: 2/7;
      text-align: center;
      position: relative;
      overflow: hidden;
    }
    &__detail {
      grid-column: 7/10;
      &__price {
        margin-top: 1.5rem;
      }

      &__btn {
        margin-top: 3.8rem;
      }
      &__content {
        margin-top: 2.5rem;
        & > p {
          font-size: 1.3rem;
        }
      }
      &__time {
        margin-top: 5.5rem;
        @include grid(2, 0);
        .time-in-box {
          border: 0.05rem solid $color-primary-light;
          text-align: center;
          & > p {
            padding-top: 1rem;
            font-family: utm-caviar;
            font-size: 3.4rem;
            color: $color-primary-light;
            &:last-child {
              font-size: 1.4rem;
              padding: 0.5rem 0 1.5rem;
              font-family: inherit;
            }
          }
        }
      }
    }
  }
  &__new-products {
    margin-top: 39.5rem;
    &__box {
      text-align: center;
    }
  }
}
