@import "../utilities/mixins";
@import "../utilities/variables";
@import "../base/typography";
.home-page {
  background: url("../img/home-page-bg-1.png") left top no-repeat,
    url("../img/home-page-bg-2.png") right top no-repeat;
  background-size: 25%, 10%;
  &__intro {
    padding-top: 10rem;
    &__box {
      text-align: center;
    }
    &__content {
      max-width: 71%;
      margin: 2.5rem auto 3.8rem;
      & > p {
        font-size: 1.6rem;
        text-align: center;
        line-height: 2rem;
      }
    }
  }

  &__sale {
    &__box {
      position: relative;
      padding-top: 10.4rem;
    }

    &__img {
      width: 100%;
      height: auto;
    }

    &__product {
      position: absolute;
      top: 41.5rem;
      @include grid(12, 3rem);
    }
    &__contains {
      padding-top: 9.5rem;
      grid-column: 2/12;
      @include grid(10, 3rem);
      background-color: $color-white;
    }
    &__item {
      grid-column: 2/7;
      text-align: center;
      position: relative;
      overflow: hidden;
    }
    &__detail {
      grid-column: 7/10;
      &__price {
        margin-top: 1.5rem;
      }

      &__btn {
        margin-top: 3.8rem;
      }
      &__content {
        margin-top: 3.2rem;
        & > p {
          font-size: 1.3rem;
        }
      }
      &__time {
        margin-top: 5.5rem;
        @include grid(2, 0);
        .time-in-box {
          border: 0.05rem solid $color-primary-light;
          text-align: center;
          & > p {
            padding-top: 1rem;
            font-family: utm-caviar;
            font-size: 3.4rem;
            color: $color-primary-light;
            &:last-child {
              font-size: 1.4rem;
              padding: 0.5rem 0 1.5rem;
              font-family: inherit;
            }
          }
        }
      }
    }
  }
  &__new-products {
    margin-top: 39.5rem;
    &__box {
      text-align: center;
    }
  }

  &__gallery {
    display: grid;
    @include grid(4, 0);
    margin-top: 10rem;
    &__item {
      overflow: hidden;
      position: relative;
      &:hover {
        & > img {
          opacity: 0.9;
        }
        @each $val, $pos in ("top": "left", "bottom": "right") {
          .line-#{$val} {
            #{$pos}: 23%;
          }
          .line-#{$pos} {
            #{$val}: 31%;
          }
        }
        & p {
          visibility: visible;
          opacity: 1;
        }
      }
      &__img {
        width: 100%;
        transform: scale(1);
        @extend %transition;
      }
      &__hover {
        @include p-absolute(0, 0);
        @extend %w100-h100;
        text-align: center;
        cursor: pointer;
        &__year {
          color: $color-white;
          letter-spacing: 0.7rem;
          text-transform: uppercase;
          margin-top: 6rem;
          font-size: 1.2rem;
          visibility: hidden;
          opacity: 0;
        }
        &__text {
          margin-top: 2rem;
          font-size: 7.2rem;
          text-transform: uppercase;
          letter-spacing: 0.7rem;
          color: $color-white;
          visibility: hidden;
          opacity: 0;
        }
        & > a {
          @include p-absolute(0, 0);
          @extend %w100-h100;
          &:hover {
            border: 4px solid $color-primary-light;
          }
        }
        @each $val, $pos in ("top": "left", "bottom": "right") {
          .line-#{$val} {
            position: absolute;
            #{$val}: 20%;
            width: 70%;
            #{$pos}: -70%;
            height: 1px;
            background-color: $color-white;
            @extend %transition;
          }
          .line-#{$pos} {
            position: absolute;
            #{$pos}: 16%;
            width: 1px;
            #{$val}: -60%;
            height: 60%;
            background-color: $color-white;
            @extend %transition;
          }
        }
      }
    }
  }

  &__hot-products {
    margin-top: 10rem;
    &__box {
      text-align: center;
    }
  }
  &__blog {
    margin: 10rem 0;
    &__box {
      @include grid(12, 3rem);
    }
    &__left {
      grid-column: 1/9;
      &__title {
        text-align: center;
      }
      &__item {
        @include grid(12, 3rem);
        margin-top: 4.5rem;
        .blog-item {
          &:first-child {
            grid-column: 1/7;
          }
          &:last-child {
            grid-column: 7/13;
          }
        }
      }
    }
    &__right {
      grid-column: 9/13;
      text-align: center;
      &__content {
        & > img {
          margin-top: 4.5rem;
        }
      }

      &__comment {
        margin-top: 3rem;
        p,
        a {
          color: $color-primary;
          font-size: 1.4rem;
        }
        a {
          opacity: 0.5;
          @extend %transition;
          @extend %hover-text;
        }
      }
      &__profile {
        margin-top: 3rem;
        color: $color-primary;
        & > h5 {
          margin-top: 2.2rem;
          font-size: 1.4rem;
          font-weight: normal;
        }
        & > p {
          opacity: 0.5;
          font-size: 1.2rem;
        }
      }
      &__dots {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        & > span {
          width: 0.6rem;
          height: 0.6rem;
          border-radius: 50%;
          cursor: pointer;
          background-color: $color-primary;
          margin-right: 0.7rem;
          @extend %transition;
          @extend %hover-bg;
        }
      }
    }
  }
}
