.sign-in {
  &__text {
    margin-top: 1.5rem;
    font-family: "Open Sans";
    font-size: 1.4rem;
    color: $color-secondary;
  }
  &__btn {
    margin-left: 16%;
    & > button {
      border: none;
      margin-top: 2rem;
      font-family: inherit;
    }
  }
}
.sign-up__content__sign-in {
  & > .input-checkbox {
    margin-left: 16%;
    margin-top: 1rem;
  }
}
