extends ./layouts/main-layout
include ./mixins/_mixin
block title
    +title(homePageTitle)
block content
    .home-page
        .home-page__intro
            .container
                .home-page__intro__box
                    .home-page__intro__title
                        +main-title('Giới thiệu')
                    .home-page__intro__content
                        p= homePageIntroText
                    .home-page__intro__btn
                        a.btn Xem thêm
        .home-page__sale
            .container
                .home-page__sale__box
                    img.home-page__sale__img(src="./img/home-page-sale-bg.png")
                    .home-page__sale__product
                        .home-page__sale__contains
                            .home-page__sale__item
                                img(src="./img/home-page-sale-product.png", alt="sale product")
                                +lg-label("Sale")
                            .home-page__sale__detail
                                .home-page__sale__detail__title
                                    +product-title("RƯỢU NHO NĂM 1987")
                                .home-page__sale__detail__price
                                    +product-price('330.000')
                                .home-page__sale__detail__btn
                                    +btn-add-new
                                .home-page__sale__detail__content
                                    p= homePageSaleText
                                .home-page__sale__detail__time
                                    each item in timeInBox
                                        +time-in-box(item.number, item.text)
        .home-page__new-products
            .container
                .home-page__new-products__box
                    .home-page__new-products__title
                        +main-title('Sản phẩm mới')
                    +new-products-slide
        .home-page__gallery
            - for (let val = 1; val < 9; val++)
                +gallery-item(val)
        .home-page__hot-products
            .container
                .home-page__hot-products__box
                    .home-page__hot-products__title
                        +main-title('Sản phẩm bán chạy')
                    +hot-products-slide
        .home-page__blog
            .container
                .home-page__blog__box
                    .home-page__blog__left
                        .home-page__blog__left__title
                            +main-title('Tin tức & blog')
                        .home-page__blog__left__item
                            each blog in blogContent
                                +blog-item(blog)
                    .home-page__blog__right
                        .home-page__blog__right__title
                            +main-title('Khách hàng')
                        .home-page__blog__right__content
                            img(src="./img/customer-circle.png", alt="customer circle")
                            .home-page__blog__right__comment
                                p Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...
                                a(href='#') Read more
                            .home-page__blog__right__profile
                                img(src="./img/customer-avatar.png", alt="customer avatar")
                                h5 GIANG LT
                                p Graphic design
                            .home-page__blog__right__dots
                                span
                                span
                                span