@mixin grid($col, $gap) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  grid-gap: $gap;
}

@mixin p-absolute($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin social-btn($bg-color, $color) {
  & > button {
    padding: 0.2rem 0.4rem;
    background-color: $bg-color;
    color: $color;
    border-radius: 0.2rem;
    border: none;
    margin-right: 0.6rem;
    cursor: pointer;
    & > i {
      margin-right: 0.4rem;
    }
  }
}
