// COLOR VARIABLES
$color-primary: #818181;
$color-primary-light: #dfa949;

$color-secondary: #000;

$color-white: #fff;
$color-grey: #e6e6e6;

// FONT VARIABLES
$font-primary: "Times New Roman", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
