@import "../utilities/_variables.scss";
@import "../base/typography";
.btn {
  color: $color-white;
  text-transform: uppercase;
  padding: 0.8rem 1.8rem;
  background-color: $color-secondary;
  font-size: 1.3rem;
  cursor: pointer;
  @extend %hover-bg;
  @extend %transition;
  // @extend %box-shadow;
}
