@import "../utilities/_variables.scss";
@import "../base/typography";
.btn {
  color: $color-white;
  text-transform: uppercase;
  padding: 0.8rem 1.8rem;
  background-color: $color-secondary;
  font-size: 1.3rem;
  cursor: pointer;
  @extend %hover-bg;
  @extend %transition;
  @include lg {
    font-size: 0.8rem;
    padding: 0.6rem 0.4rem;
  }
}
