@import "../utilities/variables";
@import "../base/typography";
.drop-down {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 15rem;
    height: 10rem;
    background-color: transparent;
    left: -0.9rem;
    cursor: pointer;
  }
  &:hover &__wrapper {
    display: grid;
  }
  &__wrapper {
    @include p-absolute(8.5rem, -20rem);
    background-color: $color-white;
    border: 1px solid $color-primary-light;
    display: none;
    grid-template-columns: repeat(3, minmax(15rem, max-content)) 1fr;
    grid-gap: 4.6rem;
    padding: 3.8rem 3.1rem;
    padding-right: 1.1rem;
    @extend %box-shadow;
    &::after {
      content: "";
      border-left: 1.5rem solid transparent;
      border-right: 1.5rem solid transparent;
      border-bottom: 1rem solid $color-primary-light;
      position: absolute;
      top: -1rem;
      right: 68rem;
    }
  }

  &__menu {
    margin-top: 1.3rem;
    &__item {
      font-size: 1.4rem;
      margin-bottom: 1.3rem;
      & > a {
        &:link,
        &:visited {
          color: inherit;
          @extend %hover-text;
          @extend %transition;
        }
      }
    }
  }

  &__title {
    text-transform: uppercase;
    color: $color-secondary;
    font-size: 1.4rem;
    font-weight: normal;
  }

  &__img {
    transform: translateX(-2rem);
  }
}
