@import "../utilities/variables";
.lg-label {
  &__text {
    width: 17.2rem;
    height: 17.2rem;
    background-color: $color-primary-light;
    transform: rotate(-45deg);
    @include p-absolute(-8.6rem, -8.6rem);
    & > h5 {
      padding-top: 12.5rem;
      color: $color-white;
      font-size: 3.2rem;
      font-weight: normal;
    }
    &::after {
      @include p-absolute(17.8rem, -2rem);
      content: "";
      width: 25rem;
      height: 0.1rem;
      background-color: $color-primary-light;
    }
  }
}

.sm-label {
  &__text {
    width: 8.2rem;
    height: 8.2rem;
    background-color: inherit;
    transform: rotate(-45deg);
    @include p-absolute(-4.1rem, -4.1rem);
    @include lg {
      width: 8rem;
      height: 8rem;
    }
    & > h5 {
      padding-top: 6rem;
      color: $color-white;
      font-size: 1.6rem;
      font-weight: normal;
      display: block;
      @include lg {
        padding-top: 5.6rem;
      }
    }
    &::after {
      content: "";
      @include p-absolute(8.47rem, -4.4rem);
      width: 14rem;
      height: 0.1rem;
      background-color: inherit;
    }
  }
}
