.main-title {
  &__text {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 2.1rem;
    letter-spacing: 0.4rem;
    color: $color-secondary;
    font-weight: normal;
  }
}

.product-title {
  &__text {
    font-size: 2.48rem;
    font-weight: normal;
    color: $color-secondary;
    text-transform: uppercase;
  }
  &__text.sm-text {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
  }
  &__icon {
    margin-top: 0.5rem;
  }
}
.form-title {
  & > h6 {
    font-size: 1.8rem;
    color: $color-secondary;
    text-transform: uppercase;
    font-weight: 300;
  }
}
