@import "../utilities/variables";
@import "../utilities/mixins";
@import "../base/typography";

.header {
  position: relative;

  &__top-nav {
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.101961);
    &__wrapper {
      @extend %flex-space-bw;
      height: 3.4rem;
    }
    &__menu:hover ul {
      @include lg {
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: $color-grey;
        box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.6);

        li {
          float: none;
        }
      }
    }
    &__menu > ul {
      display: flex;
      flex-direction: row;
      @include lg {
        display: none;
      }
    }
    &__menu > i {
      cursor: pointer;
      margin-left: 2rem;
      color: $color-primary;
      font-size: 1.8rem;
      display: none;
      @include lg {
        display: block;
      }
    }
    &__item {
      & > a {
        font-size: 1.3rem;
        color: $color-white;
        @extend %hover-text;
        @extend %transition;
        &:hover {
          text-decoration: underline;
        }
      }
      &:not(:last-child)::after {
        content: "-";
        margin: 0 1.2rem;
      }
      @include lg {
        &:not(:last-child)::after {
          content: "";
          margin: 0;
        }
      }
    }
    &__item.all-page {
      & > a {
        color: inherit;
      }
    }
    &__search {
      color: $color-primary;
      border-left: 0.1rem solid $color-white;
      input {
        border: none;
        outline: none;
        font-style: italic;
        font-family: inherit;
        width: 23rem;
        color: $color-primary;
        background-color: transparent;
        padding: 0 1rem;
      }
    }

    &__icon {
      color: $color-white;
      background: transparent;
      border: none;
      cursor: pointer;
      @extend %hover-text;
      @extend %transition;
    }
    &__icon.all-page {
      color: inherit;
    }
  }
  &__top-nav.all-page {
    position: unset;
  }

  &__slider {
    &__img {
      width: 100%;
      height: 60rem;
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory;
      .slide {
        @extend %w100-h100;
        flex-shrink: 0;
        scroll-snap-align: start;
        transition: transform 0.5s;
        &__img {
          @extend %w100-h100;
        }
      }
    }
    &__jump-links {
      @include p-absolute(56rem, 50%);
      transform: translate(-50%, -50%);
      @include grid(3, 1.1rem);
      &__item {
        display: block;
        width: 3rem;
        height: 0.4rem;
        background-color: $color-white;
        @extend %transition;
        &:hover {
          background-color: $color-primary-light;
        }
      }
    }

    &__content-img {
      width: 55%;
      @include p-absolute(26rem, 50%);
      transform: translate(-50%, -50%);
    }
  }

  &__main-nav {
    background-color: $color-secondary;
    &__wrapper {
      @extend %flex-space-bw;
      padding: 1.2rem 0;
    }
    &__brand {
      & > img {
        @include lg {
          height: 8rem;
        }
      }
    }

    &__menu {
      width: 80%;
      & > ul {
        @extend %flex-space-bw;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      &__icon {
        display: none;
        @include lg {
          display: flex;
          justify-content: flex-end;
          font-size: 2rem;
          margin-right: 1rem;
          color: $color-white;
        }
      }
    }
    &__menu:hover ul {
      @include lg {
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $color-secondary;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
        z-index: 998;
      }
    }
    &__menu:hover ul li {
      @include lg {
        display: block;
        float: none;
        padding: 0.5rem 0;
        text-align: center;
      }
    }

    &__item > a:link,
    &__item > a:visited {
      color: $color-white;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 0.12rem;
      @extend %hover-text;
      @extend %transition;
    }
    &__item {
      @include lg {
        display: none;
      }
    }
  }
}
